.alertContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: red;
}

.message {
  font-size: 18px;
  font-weight: bold;
}
